.h1 {
    border: 1px solid;
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(215, 241, 241);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* 5px rounded corners */
}

.divOuter {
    display: inline;
    text-align: center;
}

.title {
    text-align: center
}